.headerContainer {
  height: 5em;
  border-bottom: 1px solid black;
}

.headerContent {
  max-width: 1120px;
  height: 5em;
  margin: 0 auto;
  padding: 0 2em;

  display: flex;
  align-items: center;
  justify-content: center;

  button {
    border: 0;
    background: white;

    &:hover {
      text-decoration: underline;
    }
  }
}