
.postContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2em;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  button {
    border: 0;
    background: white;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    max-width: 800px;
    padding-bottom: 3em;
  }

  ul {
    margin-top: 3em;
  }
}

#backButton {
  padding: 1em 2em;
  border: 1px solid black;
  margin-bottom: 3em;
}