.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 3em 2em;

  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    padding-bottom: 2em;
    text-align: center;
  }

  button {
    border: 0;
    background: white;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    list-style: none;

    li { 
      
     

      & + li {
        padding-top: 1em;
      }
    }

  }
}